<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {{!-- Awsome font 5 --}}
    <script src="https://kit.fontawesome.com/6aed72ae58.js"></script>
    {{{_sections.css}}}
</head>

<body>
    {{!-- HEADER --}}
    <header class="bg-dark text-light d-flex justify-content-center align-items-center px-0 py-2">
        <div class="row" style="width: 90%">
            <div class="col-8 d-flex justify-content-start">
                <div id="weather" class="mx-2 d-flex no-wrap align-items-center">
                    <i class="fas fa-cloud-sun mx-2"></i>
                    <p id="temperature" class="mx-2 my-0">30&#8451;</p>
                    <p id="location" class="my-0">HCM city</p>
                </div>
                <div id="date" class="mx-2 d-flex no-wrap align-items-center">
                    <p id="currentDate" class="my-0">Monday, April 22</p>
                </div>
            </div>
            {{#if isAdmin}}
            <div>
                <a href="/admin">Admin</a>
            </div>
            {{/if}}
            {{#if isWriter}}
            <div class="ml-5">
                <a href="/writter/writePost">Writer</a>
            </div>
            {{/if}}
            <div class="col-4 d-flex justify-content-end">
                <form id="frmSignout" action="/account/logout" method="POST"></form>
                <ul class="navbar-nav">
                    {{#if isAuthenticated}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hi, <b>{{authUser.Name}}</b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile/edit">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Edit Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sign Out
                            </a>
                        </div>
                    </li>
                    {{else}}
                    <div class="nav">
                        <li class="nav-item mr-3">
                            <a class="nav-link text-light" href="/account/register">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                Regiter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/account/login">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Sign In
                            </a>
                        </li>
                    </div>
                    {{/if}}
                </ul>
            </div>
        </div>
    </header>

    <div class="logo d-flex justify-content-center">
        <a href="/">
            <img src="https://demo.tagdiv.com/newspaper/wp-content/uploads/2018/08/logo-header.png"
                alt="Newspaper WordPress Theme">
        </a>
    </div>
    <div id="menu" class="bg-white text-dark shadow p-0 mb-1 bg-white rounded sticky-top">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="search?keyword=technology" class="btn nav-link bg-white">News</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn nav-link bg-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Phones</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="search?keyword=android">Android</a>
                        <a class="dropdown-item" href="search?keyword=ios">iOS</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn nav-link bg-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Laptops</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="search?keyword=asus">Asus</a>
                        <a class="dropdown-item" href="search?keyword=dell">Dell</a>
                        <a class="dropdown-item" href="search?keyword=hp">HP</a>
                        <a class="dropdown-item" href="search?keyword=msi">MSI</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="search?keyword=technology" class="btn nav-link bg-white">Technology</a>
            </li>
            <li class="nav-item search-bar">
                <form action="/" method="POST" id="searchForm">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="textSearch">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>

    {{!-- BODY --}}
    {{{body}}}

    {{!-- FOOTER --}}
    <div class="footer-container bg-dark">
        <div class="row">
            <div class="col-3">
                <div class="logo">
                    <a href="/">
                        <img src="https://demo.tagdiv.com/newspaper/wp-content/uploads/2018/08/logo-header.png"
                            alt="Newspaper WordPress Theme">
                    </a>
                </div>
            </div>
            <div class="col-6">
                <h5 class="text-light"><strong>ABOUT</strong></h5>
                <div class="email-contact my-2">
                    <i class="fas fa-envelope text-light"></i>
                    <a class="text-light" href="https://google.com">Email@gmail.com</a>
                </div>
                <div class="phone-contact my-2">
                    <i class="fas fa-phone text-light"></i>
                    <a class="text-light" href="https://google.com">0123456789</a>
                </div>
                <div class="contact-contact my-2">
                    <i class="fas fa-map-marker-alt text-light"></i>
                    <a class="text-light" href="https://google.com">227 Nguyen Van Cu, District 5, HCM city</a>
                </div>
            </div>
            <div class="col-3">
                <h5 class="text-light"><strong>FOLLOW</strong></h5>
                <div class="follow">
                    <a class="mr-3" href="https://facebook.com"><i
                            class="fab fa-facebook-square fa-3x text-light"></i></a>
                    <a class="mr-3" href="https://twitter.com"><i
                            class="fab fa-twitter-square fa-3x text-light"></i></a>
                    <a class="mr-3" href="https://youtube.com"><i
                            class="fab fa-youtube-square fa-3x text-light"></i></a>
                </div>
            </div>
        </div>
    </div>

    {{{_sections.js}}}
</body>

</html>