<div class="container px-5">
    <!-- News into categories -->
    <div class="row my-4">
        <!-- Search result -->
        <div class="col-8">
            {{#each this.results1}}
            <a href="/post/{{PostId}}" class="card mb-3 shadow">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/post_pictures/{{PostId}}/main.jpg" alt="ERROR"
                            title="{{Title}}" style="width: 100%; height: 100%">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{Title}}</h5>
                            <p class="card-text">{{Description}}</p>
                            {{!-- <small class="card-text"><small class="text-muted">Tags</small></small> --}}
                            <p class="card-text"><small class="text-muted">{{PublishedDate}}</small></p>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
            {{#each this.results2}}
            <a href="/post/{{PostId}}" class="card mb-3 shadow">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/post_pictures/{{PostId}}/main.jpg" alt="ERROR"
                            title="{{Title}}" style="width: 100%; height: 100%">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{Title}}</h5>
                            <p class="card-text">{{Description}}</p>
                            {{!-- <small class="card-text"><small class="text-muted">Tags</small></small> --}}
                            <p class="card-text"><small class="text-muted">{{PublishedDate}}</small></p>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
            <div>
               <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {{#each this.pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
            </li>
            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}}
            {{/each}}
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
            </div>
        </div>
        {{!-- Right panel --}}
        <div class="col-4 pl-0">
            <div class="sticky-top" style="top: 80px; z-index: 100">
                <div class="connected-info">
                    <h6 class="underline-seperate">
                        <span class="px-1">STAY CONNECTED</span>
                    </h6>
                    <div class="social-facebook my-3">
                        <a href="https://facebook.com/" class="row">
                            <div class="col-2"><i class="fab fa-facebook-f"></i></div>
                            <div class="col-6"><span>9999 Fans</span></div>
                            <div class="col-4 text-right"><span><strong>LIKE</strong></span></div>
                        </a>
                    </div>
                    <div class="social-twitter my-3">
                        <a href="https://twitter.com/" class="row">
                            <div class="col-2"><i class="fab fa-twitter"></i></div>
                            <div class="col-6"><span>9999 Followers</span></div>
                            <div class="col-4 text-right"><span><strong>FOLLOW</strong></span></div>
                        </a>
                    </div>
                    <div class="social-youtube my-3">
                        <a href="https://www.youtube.com/" class="row">
                            <div class="col-2"><i class="fab fa-youtube"></i></div>
                            <div class="col-6"><span>9999 Subscribers</span></div>
                            <div class="col-4 text-right"><span><strong>SUBSCRIBE</strong></span></div>
                        </a>
                    </div>
                </div>
                <div class="related-news">
                    <h6 class="underline-seperate">
                        <span class="px-1">TOP NEWS</span>
                    </h6>


                </div>
            </div>
        </div>
    </div>
</div>