<!-- HOME-PAGE -->
<div class="container px-5">
    <!-- Hot news line-->
    <div class="row my-4">
        <div class="col-2 bg-dark text-light d-flex justify-content-center"><strong>HOT NEWS</strong></div>
        <div id="carouselHotNews" class="col-10 carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{#each this.content}}
                <div class="carousel-item" data-interval="3000">
                    <a class="text-dark" href="/post/{{PostId}}">{{{Title}}}</a>
                </div>
                {{/each}}
            </div>
            <a class="carousel-control-prev" href="#carouselHotNews" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHotNews" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- News grid -->
    <div id="gridNews" class="row">
        <div id="bigLeft" class="col pl-0">
            <a href="/post/{{content1.PostId}}">
                <figure>
                    <img src="/post_pictures/{{content1.PostId}}.jpg" alt="Error loading image"
                        title="{{content1.Title}}">
                </figure>
                <div class="info px-3">
                    {{!-- <div class="category bg-dark text-light">{{content1.Tag}}</div> --}}
                    <div class="title">
                        <h3>{{content1.Title}}</h3>
                    </div>
                    <div class="post-info">
                        <small id="author">{{content1.Author}} --</small>
                        <small id="post-date">{{time1}}</small>
                    </div>
                </div>
            </a>
        </div>
        <div id="bigRight" class="col px-3">
            <div id="upRight" class="row">
                <a href="/post/{{content2.PostId}}">
                    <figure>
                        <img src="/post_pictures/{{content2.PostId}}.jpg" alt="Error loading image"
                            title="{{content2.Title}}">
                    </figure>
                    <div class="info px-3">
                        {{!-- <div class="category bg-dark text-light">Phones</div> --}}
                        <div class="title">
                            <h5>{{content2.Title}}</h5>
                        </div>
                        <div class="post-info">
                            <small id="author">{{content2.Author}}</small>
                            <small id="post-date">{{time2}}</small>
                        </div>
                    </div>
                </a>
            </div>
            <div id="downRight" class="row">
                <div id="smallLeft" class="col pl-0">
                    <a href="/post/{{content3.PostId}}">
                        <figure>
                            <img src="/post_pictures/{{content3.PostId}}.jpg" alt="Error loading image"
                                title="{{content3.Title}}">
                        </figure>
                        <div class="info px-3">
                            {{!-- <div class="category bg-dark text-light">Laptops</div> --}}
                            <div class="title">
                                <h6>{{content3.Title}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="smallRight" class="col pl-0">
                    <a href="/post/{{content4.PostId}}">
                        <figure>
                            <img src="/post_pictures/{{content4.PostId}}.jpg" alt="Error loading image"
                                title="{{content4.Title}}">
                        </figure>
                        <div class="info px-3">
                            {{!-- <div class="category bg-dark text-light">Technology</div> --}}
                            <div class="title">
                                <h6>{{content4.Title}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- News into categories -->
    <div class="row my-4">
        <div class="col-8 pl-0">
            <div class="news-content mb-5">
                <h6 class="underline-seperate-red">
                    <span class="px-1">NEWS</span>
                </h6>
                <div id="news-content-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#news-content-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#news-content-carousel" data-slide-to="1"></li>
                        <li data-target="#news-content-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each this.newsContent}}
                        <a href="/post/{{PostId}}" class="carousel-item" data-interval="4000">
                            <img src="/post_pictures/{{PostId}}.jpg" alt="Error loading image" title="{{Title}}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{Title}}</h5>
                                <p>{{Description}}</p>
                            </div>
                        </a>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#news-content-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#news-content-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="phones-content mb-5">
                <h6 class="underline-seperate-yellow">
                    <span class="px-1">PHONES</span>
                </h6>
                <div id="phones-content-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#phones-content-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#phones-content-carousel" data-slide-to="1"></li>
                        <li data-target="#phones-content-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each this.phoneContent}}
                        <a href="/post/{{PostId}}" class="carousel-item" data-interval="4000">
                            <img src="/post_pictures/{{PostId}}.jpg" alt="Error loading image" title="{{Title}}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{Title}}</h5>
                                <p>{{Description}}</p>
                            </div>
                        </a>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#phones-content-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#phones-content-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="laptops-content mb-5">
                <h6 class="underline-seperate-blue">
                    <span class="px-1">LAPTOPS</span>
                </h6>
                <div id="laptops-content-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#laptops-content-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#laptops-content-carousel" data-slide-to="1"></li>
                        <li data-target="#laptops-content-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each this.laptopContent}}
                        <a href="/post/{{PostId}}" class="carousel-item" data-interval="4000">
                            <img src="/post_pictures/{{PostId}}.jpg" alt="Error loading image" title="{{Title}}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{Title}}</h5>
                                <p>{{Description}}</p>
                            </div>
                        </a>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#laptops-content-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#laptops-content-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="technology-content mb-5">
                <h6 class="underline-seperate-green">
                    <span class="px-1">TECHNOLOGY</span>
                </h6>
                <div id="technology-content-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#technology-content-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#technology-content-carousel" data-slide-to="1"></li>
                        <li data-target="#technology-content-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each this.techContent}}
                        <a href="/post/{{PostId}}" class="carousel-item" data-interval="4000">
                            <img src="/post_pictures/{{PostId}}.jpg" alt="Error loading image" title="{{Title}}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{Title}}</h5>
                                <p>{{Description}}</p>
                            </div>
                        </a>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#technology-content-carousel" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#technology-content-carousel" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 pr-0">
            <div class="sticky-top" style="top: 80px; z-index: 100">
                <div class="connected-info">
                    <h6 class="underline-seperate">
                        <span class="px-1">STAY CONNECTED</span>
                    </h6>
                    <div class="social-facebook my-3">
                        <a href="https://facebook.com/" class="row">
                            <div class="col-2"><i class="fab fa-facebook-f"></i></div>
                            <div class="col-6"><span>9999 Fans</span></div>
                            <div class="col-4 text-right"><span><strong>LIKE</strong></span></div>
                        </a>
                    </div>
                    <div class="social-twitter my-3">
                        <a href="https://twitter.com/" class="row">
                            <div class="col-2"><i class="fab fa-twitter"></i></div>
                            <div class="col-6"><span>9999 Followers</span></div>
                            <div class="col-4 text-right"><span><strong>FOLLOW</strong></span></div>
                        </a>
                    </div>
                    <div class="social-youtube my-3">
                        <a href="https://www.youtube.com/" class="row">
                            <div class="col-2"><i class="fab fa-youtube"></i></div>
                            <div class="col-6"><span>9999 Subscribers</span></div>
                            <div class="col-4 text-right"><span><strong>SUBSCRIBE</strong></span></div>
                        </a>
                    </div>
                </div>
                <div class="related-news">
                    <h6 class="underline-seperate">
                        <span class="px-1">TOP NEWS</span>
                    </h6>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'js'}}
<script>
    $(function () {
        $('#carouselHotNews').find('.carousel-item').first().addClass('active');
        $('#news-content-carousel').find('.carousel-item').first().addClass('active');
        $('#phones-content-carousel').find('.carousel-item').first().addClass('active');
        $('#laptops-content-carousel').find('.carousel-item').first().addClass('active');
        $('#technology-content-carousel').find('.carousel-item').first().addClass('active');
    });
</script>
{{/section}}